body{
    font-family: arial,helvetta, sans-sarif::after

}
header nav ul{
    display: flex:
    list-style:none;
    gap: 0,5rem:
    padding: 0;
}
    
h1{


    color: rgb(9, 66, 101)
    font-size:68px:
    font-family: verdana, Geneva, Tahoma, sans- serif:
    background-colur:cadetblue;
    padding:2rem;

       a{

        text- decoration:name:
        front-sixe: 10px;
       }

a.html{
      
   background colur: rgb 34, 32, 34)
   colur: 
   padding: 2rem:
   display: :inline
   wargin: 10xp 0px
   
   f


    
    

}



    
    
    
